@import url('https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');

body {
    background-color: silver;
}

article {
    background-color: white;
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
}

img {
    width: 270px;
    padding: 10px 10px 40px 10px;
    border: 1px solid silver;
    box-shadow: 5px 5px 0px silver;
}

.ship {
    float: right;
    transform: rotate(3deg);
    margin-right: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.booty {
    float: left;
    margin-right: 30px;
    margin-bottom: 20px;
    margin-left: 10px;
    transform: rotate(-3deg);
}

.ship-container {
    position: relative;
}

.ship-label {
    position: absolute;
    top: 200px;
    left: 600px;
}

.booty-label {
    position: absolute;
    top: 590px;
    left: 510px;
}

h1 {
    font-family: "Seaweed Script", cursive;
    font-weight: 600;
    font-style: normal;
}

p {
    font-family: "Nanum Brush Script", cursive;
  font-weight: 400;
  font-style: normal;
}

div {
    font-family: "Nanum Brush Script", cursive;
  font-weight: 400;
  font-style: normal;
}