body {
    font-family: Arial, sans-serif;
    padding: 10px;
    background-color: aliceblue;
    color: darkcyan;
    width: 50vw;
}

h1 {
    color: darkcyan;
}

fieldset {
    border-radius: 50px;
    border: 1px, solid, peachpuff;
    background-color:antiquewhite;
    width: 80%;
}

input {
    border-radius: 50px;
    border: 1px, solid, peachpuff;
    background-color:antiquewhite;
    color: darkcyan;
    padding: 5px;
}

button {
    border-radius: 50px;
    color: darkcyan;
    background-color: peachpuff;
    border: 1px, solid, paleturquoise;
    padding: 8px;
    margin: 10px;
}

button:hover {
    transform: scale(1.05);
    border: 1px, solid, palevioletred;
}

.coin-container {
    background-color:antiquewhite;
    border: solid 1px peachpuff;
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
    padding: 10px;
    width: 80%;
    height: 80%;
}

.penny {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    background-color: peachpuff;
    height: 40px;
    border-radius: 50%;
}

.dime {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    background-color: rgb(191, 233, 191);
    height: 40px;
    border-radius: 50%;
}

.nickel {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    background-color: lightgoldenrodyellow;
    height: 40px;
    border-radius: 50%;
}

.quarter {
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    background-color: lightcyan;
    height: 50px;
    border-radius: 50%;
}